@{
    ViewData["Title"] = "Home Page";
}

<div id="content-wrapper" class="row">
    <main class="col-md-8">
        @foreach (var post in Model)
        {
            <article>
                <h2><a href="@post.Permalink">@post.Title</a></h2>
                <div>
                    By: @post.Name
                </div>
            </article>
        }
    </main>
</div>
